<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to KhumaloCraft</h1>
            <p class="lead">Discover the Art of Craftsmanship</p>
            <img src="/Images/home image.jpeg" alt="Home Image" class="img-fluid mt-3 mb-4" style="max-width: 600px;">
            <p class="font-weight-bold">Explore our handcrafted products from artisans around the world.</p>
            <p class="font-weight-bold">Grow your art business with our tailor-made services.</p>
            <p class="font-weight-bold">Buy, sell, and interact with like-minded enthusiasts from around the globe.</p>
        </div>
    </div>
</div>