<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="mb-4">About KhumaloCraft</h1>
            <img src="/Images/james khumalo.jpeg" alt="James Khumalo" class="img-fluid mb-4" style="max-width: 300px;">
            <p class="lead">KhumaloCraft Emporium is a global e-commerce platform founded in 2024 by visionary entrepreneur James Khumalo. Our mission is to connect artisans worldwide by showcasing their handcrafted products.</p>
            <p>James Khumalo, the founder of KhumaloCraft, is driven by a passion for fostering cultural exchange and preserving traditional craftsmanship. With a deep appreciation for artistry and heritage, James aims to create a platform that celebrates artisans' creativity from diverse backgrounds.</p>
            <p>Through KhumaloCraft, we bridge the gap between artisans and consumers, offering a curated collection of unique, high-quality handcrafted products. Our commitment to authenticity, sustainability, and fair trade practices ensures that every purchase enriches the lives of artisans and brings joy to customers worldwide.</p>
            <p>A percentage of all proceeds goes towards empowering local and indigenous artisans, ensuring that their craftsmanship continues to thrive for generations to come.</p>
        </div>
    </div>
</div>